In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
df=pd.read_csv('Data.csv')

In [3]:
df.info

<bound method DataFrame.info of        Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]>

In [4]:
df.describe()

              Index  Height(Inches)  Weight(Pounds)
count  25000.000000    25000.000000    25000.000000
mean   12500.500000       67.993114      127.079421
std     7217.022701        1.901679       11.660898
min        1.000000       60.278360       78.014760
25%     6250.750000       66.704397      119.308675
50%    12500.500000       67.995700      127.157750
75%    18750.250000       69.272958      134.892850
max    25000.000000       75.152800      170.924000

In [5]:
df=df.iloc[:,1:3]

In [6]:
df.info

<bound method DataFrame.info of        Height(Inches)  Weight(Pounds)
0            65.78331        112.9925
1            71.51521        136.4873
2            69.39874        153.0269
3            68.21660        142.3354
4            67.78781        144.2971
...               ...             ...
24995        69.50215        118.0312
24996        64.54826        120.1932
24997        64.69855        118.2655
24998        67.52918        132.2682
24999        68.87761        124.8742

[25000 rows x 2 columns]>

In [8]:
df.columns=['Height','Weight']

In [9]:
df.describe()

             Height        Weight
count  25000.000000  25000.000000
mean      67.993114    127.079421
std        1.901679     11.660898
min       60.278360     78.014760
25%       66.704397    119.308675
50%       67.995700    127.157750
75%       69.272958    134.892850
max       75.152800    170.924000

Bivariate Analysis of Height and Weight

In [42]:
from scipy.stats.stats import pearsonr
correlation_coeff = pearsonr(df['Height'],df['Weight'])
print(correlation_coeff)

(0.502858520602844, 0.0)

In [65]:
#Calculated Manually

num= ((df['Height']-df['Height'].mean()) * (df['Weight']-df['Weight'].mean())).sum() / 25000
print(num)
deno= math.sqrt(((((df['Height']-df['Height'].mean()) ** 2).sum())/25000) * ((((df['Weight']-df['Weight'].mean()) ** 2).sum())/25000))
print(deno)
coeff_corr = num/deno
print(coeff_corr)

11.150583132400378
22.17439433865549
0.502858520602844

Co-relation Co-efficient Reference:
1. Valries between -1 to +1
2. +1 represents perfect positive co-relation
3. -1 represents perfect negative co-relation
4. 0 there is no co-relation
5. 0 to 0.25 weak positive corelation
6. 0.75 to 1.0 Strong positive co-relation
7. -0.25 to 0 Weak Negative Co-relation
8. -0.75 to -1 Strong Negative Co-relation