In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [68]:
df=pd.read_csv('Data.csv')

In [69]:
df.info

<bound method DataFrame.info of        Index  Height(Inches)  Weight(Pounds)
0          1        65.78331        112.9925
1          2        71.51521        136.4873
2          3        69.39874        153.0269
3          4        68.21660        142.3354
4          5        67.78781        144.2971
...      ...             ...             ...
24995  24996        69.50215        118.0312
24996  24997        64.54826        120.1932
24997  24998        64.69855        118.2655
24998  24999        67.52918        132.2682
24999  25000        68.87761        124.8742

[25000 rows x 3 columns]>

In [70]:
df.describe()

              Index  Height(Inches)  Weight(Pounds)
count  25000.000000    25000.000000    25000.000000
mean   12500.500000       67.993114      127.079421
std     7217.022701        1.901679       11.660898
min        1.000000       60.278360       78.014760
25%     6250.750000       66.704397      119.308675
50%    12500.500000       67.995700      127.157750
75%    18750.250000       69.272958      134.892850
max    25000.000000       75.152800      170.924000

In [71]:
df=df.iloc[:,1:3]

In [72]:
df.info

<bound method DataFrame.info of        Height(Inches)  Weight(Pounds)
0            65.78331        112.9925
1            71.51521        136.4873
2            69.39874        153.0269
3            68.21660        142.3354
4            67.78781        144.2971
...               ...             ...
24995        69.50215        118.0312
24996        64.54826        120.1932
24997        64.69855        118.2655
24998        67.52918        132.2682
24999        68.87761        124.8742

[25000 rows x 2 columns]>

In [73]:
df.describe()

       Height(Inches)  Weight(Pounds)
count    25000.000000    25000.000000
mean        67.993114      127.079421
std          1.901679       11.660898
min         60.278360       78.014760
25%         66.704397      119.308675
50%         67.995700      127.157750
75%         69.272958      134.892850
max         75.152800      170.924000

In [74]:
df.columns=['Height','Weight']

In [75]:
df['Height-Z-Score'] = (df['Height'] - df['Height'].mean()) / df['Height'].std()
df['Weight-Z-Score'] = (df['Weight'] - df['Weight'].mean()) / df['Weight'].std()

In [76]:
df.describe()

             Height        Weight  Height-Z-Score  Weight-Z-Score
count  25000.000000  25000.000000    2.500000e+04    2.500000e+04
mean      67.993114    127.079421    1.117609e-13    7.231122e-14
std        1.901679     11.660898    1.000000e+00    1.000000e+00
min       60.278360     78.014760   -4.056812e+00   -4.207623e+00
25%       66.704397    119.308675   -6.776729e-01   -6.663935e-01
50%       67.995700    127.157750    1.360063e-03    6.717222e-03
75%       69.272958    134.892850    6.730074e-01    6.700538e-01
max       75.152800    170.924000    3.764929e+00    3.759966e+00

In [77]:
df.head(10)

     Height    Weight  Height-Z-Score  Weight-Z-Score
0  65.78331  112.9925       -1.162028       -1.208048
1  71.51521  136.4873        1.852099        0.806789
2  69.39874  153.0269        0.739150        2.225170
3  68.21660  142.3354        0.117521        1.308302
4  67.78781  144.2971       -0.107959        1.476531
5  68.69784  123.3024        0.370581       -0.323905
6  69.80204  141.4947        0.951226        1.236207
7  70.01472  136.4623        1.063064        0.804645
8  67.90265  112.3723       -0.047570       -1.261234
9  66.78236  120.6672       -0.636676       -0.549891

In [78]:
df.dtypes

Height            float64
Weight            float64
Height-Z-Score    float64
Weight-Z-Score    float64
dtype: object

In [86]:
df= df[ (df['Height-Z-Score'] > -3)  & (df['Height-Z-Score'] < 3) ]

In [88]:
df= df[ (df['Weight-Z-Score'] > -3)  & (df['Weight-Z-Score'] < 3) ]

In [89]:
df.shape

(24886, 4)

In [90]:
df.describe()

             Height        Weight  Height-Z-Score  Weight-Z-Score
count  24886.000000  24886.000000    24886.000000    24886.000000
mean      67.990621    127.089071       -0.001311        0.000828
std        1.876888     11.479264        0.986964        0.984424
min       62.290580     92.201070       -2.998684       -2.991052
25%       66.709960    119.335150       -0.674748       -0.664123
50%       67.995185    127.156700        0.001089        0.006627
75%       69.266325    134.852025        0.669520        0.666553
max       73.670400    161.906000        2.985408        2.986612